<div class="footer">
	<a href="https://gitlab.com/0x00cl/cartas-myl#como-aportar-con-cartas"><img class ="aporta"  src="{% link /assets/gitlab-logo.svg %}" /><b style="font-size: 18px;">Aporta con tus cartas!</span></b></a>
<hr>
<table class="card-table">
	<tr>
	<td><p>Las ilustraciones de las cartas y logos de las ediciones pertenecen a Salo S.A. derechos reservados.</p></td>
	<td>
	<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="{% link /assets/80x15.png %}" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Cartas MyL</span> por <a xmlns:cc="http://creativecommons.org/ns#" href="https://0x00.cl" property="cc:attributionName" rel="cc:attributionURL"><span style="font-size: 16px;">Tomás Gutiérrez L.</span></a> se distribuye bajo una <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Licencia Creative Commons Atribución-CompartirIgual 4.0 Internacional</a>.</td>
	<tr>
</table>
</div>