
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>Cartas MyL</title>
  <meta name="description" content="Pagina web dedicada a archivar las cartas Mitos y Leyendas.">
  <link rel="icon" type="image/png" href="{% link /assets/favicon.png %}">
  <link rel="stylesheet" href="{% link /assets/style.css %}">
</head>
