
<div class="header">
<h1><img class="archive" src="{% link /assets/archive.svg %}" />Cartas MyL</h1>
    <p>|| <a href="{% link index.markdown %}">Inicio</a> | <a href="{% link about.markdown %}">Acerca de MyL</a> ||</p>
    <hr>
</div>
