@font-face {
  font-family: novaflat;
  src: url(NovaFlat-Regular.ttf);
}

@font-face {
  font-family: roboto;
  src: url(Roboto-Regular.ttf);
}

html{
  position: relative;
  min-height: 100%;
  font-family: novaflat, Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}

body {
  color: #ddc5a2;
  padding-right: 25vw;
  padding-left: 25vw;
  margin: 0;
  background-color: #301c19;
}

.header{
  text-align: center;
}

.container{
  margin: 0 0 130px;
}
.container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img{
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

.aporta{
  margin-top: 20px;
  max-width: 20px;
}
.archive{
  max-width: 1em;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  height: 130px;
  width: 100%;
  font-size: 0.65em;
  overflow: hidden;
  line-height: 13px;
  font-family: roboto, Arial, Helvetica, sans-serif;
}

.card {
  display: flex;
  background-color: #523634;
  align-items: center;
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}

.card-nav{
  text-align: center;
}

.card-info {
  flex: 80%;
  margin-left: 10px;
}
.card-table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}
.card-table td{
  padding: 10px;
}

a {
  color: #ff7557;
}

a:hover {
  color: #301b28;
  background-color: #ff7557;
}

@media (max-width: 1450px) {
  body{
    padding-right: 19vw;
    padding-left: 19vw;
  }
}

@media (max-width: 1000px) {
  body{
    padding-right: 13vw;
    padding-left: 13vw;
  }
}

@media (max-width: 500px) {
  body{
    padding-right: 5vw;
    padding-left: 5vw;
  }
  .card {
    flex-direction: column;
  }
  .container{
    margin: 0 0 190px;
  }
  .footer{
    height: 190px;
  }
}

@media(max-width: 300px) {
  .footer{
    height: 220px;
  }
  .container{
    margin: 0 0 220px;
  }
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(255,255,255,.20);
    box-shadow: 0 0 10px 0 rgba(255,255,255,.20);
}
