<!DOCTYPE html>
<html lang="en">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
	 <div class="container card-nav">
	 	{% assign relative = page.dir | split: "/" %}
	 	{% assign volver_url = relative[1] | append: "/" | append: relative[2] %}
	 	{% assign titulo_edicion = relative[2] | split: "-" %}
		<h2>
		 	{% for titulo in titulo_edicion %}
		 	{% if titulo == "del" %}
		 		{{ titulo }}
		 	{% else %}
		 		{{ titulo | capitalize }}
		 	{% endif %}
		 	{% endfor %}
	 	</h2>
	 		 	<a href="/{{ volver_url }}">Volver atrás</a>
		<div class="card box-shadow">
			{% if page.url_imagen %}
			<div class="card-image"><img src="{{ page.url_imagen }}" /></div>
			{% else %}
			<div class="card-image"><img src="{% link /assets/default.png %}" /></div>
			{% endif %}
			<div class="card-info">
				<table class="card-table">
					<tbody>
						<tr>
							<th colspan="2"><h3>{{ page.nombre }}</h3><hr></th>
						</tr>
					<tr>
            <td>Tipo: {{ page.tipo }}</td>
						<td>Raza: {{ page.raza }}</td>
					</tr>
					<tr>
            <td>Fuerza: {{ page.fuerza }}</td>
            <td>Coste: {{ page.coste }}</td>
					</tr>
					<tr>
						<td colspan="2"><b>Habilidad</b> <p>{{ page.habilidad }}</p></td>
					</tr>
					<tr>
						<td colspan="2" style="font-size:0.8em;">Descripción: <q>{{ page.descripcion }}</q></td>
					</tr>
					<tr>
						<td colspan="2"><b>Ilustrador: {{ page.ilustrador }}</b></td>
					</tr>
						<tr style="font-size:0.8em;">
						<td>Número: {{ page.numero }}</td>
						<td>Edición: {{ page.edicion }}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
    {%- include footer.html -%}
  </body>
</html>
