<!DOCTYPE html>
<html lang="en">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <div class="container">
      {{ content }}
      {% assign tag_normalized = page.tags | downcase | replace: " ", "-" %}
      <h2 style="text-align: center;">{{ page.tags }}</h2>
      {% for carta in site.data %}
        {% if tag_normalized == carta[0] %}
          <table class="card-table">
            {% assign list_cartas = carta[1] | sort: "numero" %}
            {% tablerow card in list_cartas cols:3 %}
            {% assign card_url = card.nombre | downcase | replace: " ", "-" %}
              {% if card.url_imagen %}
                <a style="text-decoration: none" href="{{ card_url }}"><img src="{{ card.url_imagen }}" /><b>{{ card.nombre }}</b></a>
              {% else %}
                <a href="{{ card_url }}"><img src="{% link /assets/default.png %}" /><b>{{ card.nombre }}</b></a>
              {% endif %}
            {% endtablerow %}
          </table>
        {% endif %}
      {% endfor %}
    </div>
    {%- include footer.html -%}
  </body>
</html>