<!DOCTYPE html>
<html lang="en">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <div class="container">
      {{ content }}
    </div>
    {%- include footer.html -%}
  </body>
</html>
