<!DOCTYPE html>
<html lang="en">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <div class="container">
      <table class="card-table">
        	{% tablerow edicion in page.ediciones cols:3 %}
          {% assign edicion_url = edicion | downcase | replace: " ", "-" %}
            <a href="{% link ediciones/{{ edicion_url }}/index.markdown %}"><img src="{% link /assets/logo-ediciones/{{ edicion_url }}.jpeg %}" />{{ edicion }}
    		  {% endtablerow %}
      </table>
  {{ content }}
    </div>
    {%- include footer.html -%}
  </body>
</html>